.comment{color:#008000;font:inherit}
.reserved{color:#0000ff}
.string{color:#800000}
.php{background:#ffff00}
.vbscript{background:#ffff00}
.cfcomment{color:#808080}
.cftag{color:#990033}
.cfattrvalue{color:#0000ff}
.red{color:#ff0000}
.nextprev{width:255px;background-color:#186B93;padding:7px}
.nextprevLink{color:#FFF;font-weight:bold;font-size:17px;text-decoration:none}
a.nextprevLink:hover{color:gray;cursor:pointer}
a.nextprevLink:link{color:#FFF;font-size:17px}
a.nextprevLink:visited{color:#FFF;font-size:17px}
.nextprevChapter{font-size:11px;text-decoration:none;font-weight:normal;color:#A8DF3B}
a.nextprevChapter:hover{color:gray;cursor:pointer}
a.nextprevChapter:link{color:#A8DF3B;font-size:11px}
a.nextprevChapter:visited{color:#A8DF3B;font-size:11px}
.prev{float:left;width:30px}
.toc{width:255px; border:solid 1px #186B93;padding:7px}
.tocLink{color:#176A94;font-weight:bold;font-size:14px;text-decoration:none}
a.tocLink:hover{color:gray;cursor:pointer}
a.tocLink:link{color:#176A94;font-size:17px}
a.tocLink:visited{color:#176A94;font-size:17px}
.tocChapter{font-size:17px;text-decoration:none;font-weight:normal;color:#176A94}
a.tocChapter:hover{color:gray;cursor:pointer}
a.tocChapter:link{color:#176A94;font-size:11px}
a.tocChapter:visited{color:#176A94;font-size:11px}
.next{float:right;width:30px}
.navigation{font-family:Arial}